@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext):
  
  

html {
  height: 100%;
  margin: 5px;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  color: #009AB1;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  color: #009AB1;
}
/* Nutrition calculator */

#nutrition-calculator-description {
  margin-bottom: 30px;
  clear: both;
}

#nutrition-calculator-description p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

#input-var {
  float: left;
}

#input-labels {
  margin-bottom: 10px;
  color: #838080;
}

#button {
  float: left;
}

.button {
  width: 100px;
  height: 27px;
  background-color: #DADADA;
  border: 1px solid #c2c2c2;
  font-family: 'Noto Sans', sans-serif;
}

.button:hover {
  background-color: #009AB1;
}

#watts-per-kg {
  margin-top: 3px;
}

#kCal-per-hour {
  margin-top: 3px;
}

#min-intake {
  margin-top: 3px;
}

#max-intake {
  margin-top: 3px;
}

#input-var input {
  height: 25px;
  width: 150px;
  margin-right: 100px;
  border: 1px solid #c2c2c2;
}

#input-fields {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Noto Sans', sans-serif;
}

#choose-product {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Noto Sans', sans-serif;
}

.line {
  height: 1px;
  overflow: hidden;
  clear: both;
  border-top: 1px solid #c2c2c2;
}

label {
  text-align: right;
  width: 150px;
  margin-right: 20px;
    color: #838080;
}

.nc-var-label {
  margin-right: 118px;
}

.result-number {
  border: 1px solid #c2c2c2;
  height: 25px;
  float: right;
  width: 150px;
  text-align: center;
  float: left;
  margin-right: 64px;
}

#output-fields {
  margin: 20px 0 30px 0;
  float: left;
  font-family: 'Noto Sans', sans-serif;
  color: #838080;
}

#output-result {
  margin: 10px 0 10px 0;
  float: left;
  font-family: 'Noto Sans', sans-serif;
}

#result-explanation {
  margin-top: 10px;
  display: none;
  clear: both;
  float: left;
}

.output {
  float: left;
  margin-right: 66px;
  width: 150px;
  text-align: left;
}

td {
  width: 129px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.maxrec {
  width: 150px;
}

.product {
  text-align: left;
  color: #838080;
}

th {
  font-weight: normal;
  color: #c2c2c2;
}

.min {
  color: green;
}

.max {
  color: red;
}

.rec {
  color: orange;
}

#products-table {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Noto Sans', sans-serif;
  color: #838080;
}
